// SIDEBAR :: START

-
  var sideBarData = [
    {
      classMod: "is-active",
      href: "#",
      classBtnMod: "0",
      svgName: "dashboard",
      btnName: "Dashboard",
      badge: false,
      badgeVal: ""
    },
    {
      classMod: "",
      href: "#",
      classBtnMod: "1",
      svgName: "call",
      btnName: "Coaching Calls",
      badge: true,
      badgeVal: "2"
    },
    {
      classMod: "",
      href: "#",
      classBtnMod: "2",
      svgName: "message",
      btnName: "Messages",
      badge: true,
      badgeVal: "5"
    },
    {
      classMod: "",
      href: "#",
      classBtnMod: "3",
      svgName: "wall",
      btnName: "Wall",
      badge: true,
      badgeVal: "9"
    },
    {
      classMod: "",
      href: "#",
      classBtnMod: "4",
      svgName: "program",
      btnName: "Program",
      badge: false,
      badgeVal: ""
    },
    {
      classMod: "",
      href: "#",
      classBtnMod: "5",
      svgName: "toolkit",
      btnName: "Toolkit",
      badge: false,
      badgeVal: ""
    }
  ];

mixin sideBarBtn(classMod, href, classBtnMod, svgName, btnName, badge, badgeVal)
  li.sidebar__item(
    class!= (classMod) ? "is-active": ""
  )
    a(
      href= href
      title=""
      class="sidebar__link sidebar__link-" + classBtnMod
    )
      div
        +iconSVG("i-" + svgName)
      p!= btnName
      if(badge)
        sup
          span!= badgeVal


section#sidebar.sidebar
  .sidebar__wrapper
    ul.sidebar__list
      each val, idx in sideBarData
        +sideBarBtn(
          sideBarData[idx].classMod,
          sideBarData[idx].href,
          sideBarData[idx].classBtnMod,
          sideBarData[idx].svgName,
          sideBarData[idx].btnName,
          sideBarData[idx].badge,
          sideBarData[idx].badgeVal
        )

// SIDEBAR :: END