// GROUP HEADER :: START

.groupHeader.headerDropdown
  a(
    href="#" 
    title="" 
    class="groupHeader__btn"
  )
    sup
      span!= "2"
    p!= "Group name"
    +iconSVG("i-arrow")

  .groupHeader__dropdown.headerDropdown__wrap
    .headerDropdown__cover
      .headerDropdown__corner
      .headerDropdown__box
        ul.headerDropdown__list
          li.headerDropdown__item
            a.headerDropdown__link.headerDropdown__link--badge(
              href="#"
              title=""
              class=""
              role="button"
            )
              p!= "General group"
              sup
                span!= "2"
          li.headerDropdown__item
            a.headerDropdown__link.headerDropdown__link--badge(
              href="#"
              title=""
              class=""
              role="button"
            )
              p!= "Group name"
              sup
                span!= "2"
          li.headerDropdown__item
            a.headerDropdown__link.headerDropdown__link--badge(
              href="#"
              title=""
              class=""
              role="button"
            )
              p!= "Group name"
              sup
                span!= "2"
          li.headerDropdown__item
            a.headerDropdown__link.headerDropdown__link--badge(
              href="#"
              title=""
              class=""
              role="button"
            )
              p!= "Group name"
              sup
                span!= "2"


// GROUP HEADER :: END