// LOGOTYPE :: START

.logo
  a(
    href="/"
    title=""
    class=""
  )
    img(
      src="./img/img-logotype.png"
      srcset="./img/img-logotype@2x.png 2x"
      alt=""
      title=""
     )

// LOGOTYPE :: END