// PROFILE HEADER :: START

.profileHeader.headerDropdown
  a(
    href="#" 
    title="" 
    class="profileHeader__btn"
  )
    div
      img(
        src="./img/img-profileHeader.jpg"
        srcset="./img/img-profileHeader@2x.jpg 2x"
        alt="" 
        title=""
       )
    p!= "Christian Vizcarra"
    +iconSVG("i-arrow")

  .profileHeader__dropdown.headerDropdown__wrap
    .headerDropdown__cover
      .headerDropdown__corner
      .headerDropdown__box
        ul.headerDropdown__list
          li.headerDropdown__item
            a.headerDropdown__link(
              href="#"
              title=""
              class=""
            )!= "My profile"
          li.headerDropdown__item
            a.headerDropdown__link(
              href="#"
              title=""
              class=""
            )!= "My coaching calendar"
          li.headerDropdown__item
            a.headerDropdown__link(
              href="#"
              title=""
              class=""
            )!= "Support"
          li.headerDropdown__item
            a.headerDropdown__link(
              href="#"
              title=""
              class=""
            )!= "Log out"


// PROFILE HEADER :: END